<!-- <div class="lupus-col-kategori">
                            <div class=" row-kategori clearfix animation-fadeAndScale"  ng-repeat="kategori in kategoriler" >
                                                        <a class="egitim-kategori-mega-button" ui-sref="egitimler.kategori.liste.kategori({categoryUrl:kategori.url})">
                                                        <div class="lupus-col-kategori-icon col-md-6">
                                                                                    <img class="img-responsive" ng-src="assets/{{kategori._asset.file}}" style="margin:0 auto;"/>
                                                        </div>
                                                        <div class="lupus-col-kategori-name" >
                                                                                    <h4>{{kategori.name}}</h4>
                                                        </div>
                                                        <p class="lupus-col-kategori-subheader">{{kategori.subHeader}}</p>
                                                        </a>
                            </div>
</div>
<div class="lupus-col-kategori-egitimler">
                            <div ui-view="kategoriegitimleri" class="kategoriegitimleri animation-fadeAndSlideRight"></div>
</div> -->
<div class="container-kategoriler container-fluid">
    <div class="row" same-hight >
        <div class="col-md-2 animation-fadeAndScale col-egitim col-kategoriler">
            <div class="row" ng-repeat="kategori in kategoriler">
                <a class="egitim-kategori-mega-button" ui-sref-active="active" ui-sref="egitimler.kategori.liste.kategori({categoryUrl:kategori.url})">
                <img class="img-responsive" ng-src="assets/{{kategori._asset.file}}" style="margin:0 auto;"/>{{state.current}}
                <!-- <pre>{{kategori|json}}</pre> -->
                <span>{{kategori.name}}</span>
                </a>
            </div>
        </div>
        <div class="col-md-10 col-egitim col-kategori-egitimleri" >
            <div ui-view="kategoriegitimleri" class="kategoriegitimleri animation-fadeAndSlideRight">
            </div>
        </div>

    </div>
</div>