<!-- <div class="egitim-sistemi-animation-sarmalayici">
                <div>
                </div>
                <div class="ust">
                                <div class="container">
                                                <div class="row">
                                                                <div class="col-xs-12 ust-canvas" ng-class="{down: animationStep[0]}"></div>
                                                </div>
                                </div>
                </div>
                <div class="orta">
                                <div class="container">
                                                <div class="row">
                                                                <div class="col-xs-12 orta-canvas" ng-class="{down:animationStep[1]}"></div>
                                                </div>
                                </div>
                </div>
                <div class="alt">
                                <div class="alt2">
                                                <div class="container">
                                                                <div class="row">
                                                                                <div class="col-xs-12 text-center button-wrapper">
                                                                                                <a href="#" class="egitim-button bounceIn" ui-sref="{{button.sref}}" ng-class="{in:animationStep[$index + 2]}" ng-repeat="button in buttons">{{button.buttonText}}</a>
                                                                                </div>
                                                                </div>
                                                </div>
                                </div>
                </div>
</div> -->
<div class="egitim-sistemi-animation-sarmalayici">
    <div class="container-fluid" style="position:absolute;top:0;left:0;z-index:5;width:100%;height: 100%; " >
        <div style="width:500px;height:500px;background:url(img/uzmanlik-click-bg.png) -200px center no-repeat ;bottom:0;left:0;position:absolute;"></div>
        <div style="width:500px;height:500px;background:url(img/akademik-click-bg.png) center top 145px no-repeat;bottom:0;left:50%;position:absolute;margin-left:-250px;"></div>
        <div style="width:500px;height:500px; background:url(img/sektorel-click-bg.png) left 252px center no-repeat  ;bottom:0;;right:0;position:absolute;"></div>
    </div>
    <div class="container-fluid" style="position:absolute;top:0;left:0;z-index:5;width:100%;height: 100%;" >
    </div>
    <div class="container-fluid" style="position:absolute;top:0;left:0;z-index:5;width:100%;height: 100%;" >
        <img class="col-md-5" style="padding-top:20px;" src="img/egitimlerimiz_motto_click.png"/>
        <div class="col-md-7" style="padding-top:20px;color:#025172">
            <p><span class="lead">Click Academy</span> olarak sizlerin eğitim ve kariyer ihtiyaçlarını düşünerek eğitim sistemini modern bir yapı üzerine tekrar inşaa ettik,
            eğitim sistemimizi 3 başlık altında kategorize ettik.</p>
            <p><span class="lead">Uzmanlık Eğitimleri,</span> bir programın kullanımı, bir beceride uzmanlaşmak ya da bir konu hakkında bilgi sahibi olmak isteyenlerin tercihidir.</p>
            <p>
            <span class="lead">Akademik Eğitimler,</span> grafikerlik, yazılımcılık, 3D uzmanlığı gibi bir meslek edinmek isteyenler için oluşturulan yenilikçi bir eğitim mantığıdır.
            Bu eğitimi alan katılımcı akademik eğitim ile bir meslek dalında ihtiyaç duyacağı bilgi ve becerilere sahip olacaktır.</p>
            <p>
            <span class="lead">Mesleki Eğitimler,</span> mesleğinde kendini geliştirmek isteyeni, hali hazırda yapmakta olduğu işi daha iyi yapmak için yeni bilgi ve beceriler elde etmek isteyen ya da bilgilerini tazelemek isteyenler için geliştirdiğimiz eğitim yapımızdır.</p>
            </p>
        </div>
        <a class="ok_1"  ui-sref="egitimler.kategori.liste">
        <div class="ok-sarmalayici">
            <img src="img/uzmanlik_click.png">
            <span class="lead"><strong>Uzmanlık Eğitimleri</strong></span>

        </div>
        </a>
        <a class="ok_2" ui-sref="egitimler.kategori.liste">
        <div  class="ok-sarmalayici">
            <img src="img/akademik_click.png">
            <span class="lead"><strong>Akademik Eğitimler</strong></span>

        </div>
        </a>
        <a class="ok_3" ui-sref="egitimler.kategori.liste">
        <div  class="ok-sarmalayici">
            <img src="img/sektorel_click.png" style="width: 105px;">
            <span class="lead"><strong>Sektörel Eğitimler</strong></span>

        </div>
        </a>
    </div>
</div>