<div class="container-fluid">
    <div class="row" style="">
        <div class="col-md-12">
            <img style="padding:10px;min-height: 100px;display:block;" ng-if="egitim._asset.file" class="img-responsive" ng-src="/assets/{{egitim._asset.file}}"/>
            <h1 style="position:relative;float:left;padding: 0 20px; background-color:#77c2cd" ng-style="{top: egitim._asset.file ? '-100px' : '0'}">{{egitim.name}}</h1>
        </div>
    </div>
    <div class="row"><div class="col-md-12"><p>{{egitim.description}}</p></div></div>

</div>
</div>