<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-5"><img src="img/click-academy.jpeg" alt="" class="img-responsive"></div>
        <div class="col-md-7">
            <h1>Hakkımızda</h1>
            <p>Click Academy olarak sizlerin eğitim ve kariyer ihtiyaçlarını düşünerek eğitim sistemini modern bir yapı üzerine tekrar inşaa ettik,
            eğitim sistemimizi 3 başlık altında kategorize ettik.
            Uzmanlık Eğitimleri,bir programın kullanımı, bir beceride uzmanlaşmak ya da bir konu hakkında bilgi sahibi olmak isteyenlerin tercihidir.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <p>
            Akademik Eğitimler, grafikerlik, yazılımcılık,3d uzmanlığı gibi bir meslek edinmek isteyenler için oluşturulan yenilikçi bir eğitim mantığıdır.
            Bu eğitimi alan katılımcı akademik eğitim ile bir meslek dalında ihtiyaç duyacağı bilgi ve becerilere sahip olacaktır.
            Mesleki Eğitimler, mesleğinde kendini geliştirmek isteyeni, hali hazırda yapmakta olduğu işi daha iyi yapmak için yeni bilgi ve beceriler elde etmek isteyen ya da bilgilerini tazelemek isteyenler için geliştirdiğimiz eğitim yapımızdır.</p>
        </div>
        <div class="col-md-5"><img src="img/click-academy-class.jpeg" alt="" class="img-responsive"></div>
    </div>
</div>