<!-- <a class="ana-sayfa-egitim-basligi" ui-sref="egitimler">
BİZ <small>KURS</small> <br> DEĞİL <span class="ana-sayfa-egitim-link">EĞİTİM</span> <br><small style="line-height: ">VERİYORUZ</small>
</a> -->
<!-- <div class="ana-sayfa-swiper"  swiper-b slides="homeSlides"></div> -->
<div class="ana-sayfa-swiper hidden-xs" swiper-b slides="homeSlides" ></div>
<div class="home-sag" >
    <div class="sag-header-bg" style=""></div>
    <div class="sag-body-bg">
        <div class="icerik-baslik" >
            <h1 class="ng-binding">Click'den Duyurular</h1>
        </div>
        <div class="icerik-metin">
        	<p> <span class="glyphicon glyphicon-bullhorn"></span> Autocad ve 3ds max derslerimize ayrı gruplar halinde katılabileceğiniz gibi ikisine baştan kayıt olarak indirimlerimizden faydalanabilirsiniz.</p>
        	<p> <span class="glyphicon glyphicon-bullhorn"></span> 05-28 Temmuz Tarihleri arasında kayıt olan öğrencilerimizin eğitim bedellerinin % 20 'si bizden..</p>
        	<p>  <span class="glyphicon glyphicon-bullhorn"></span> Grafik Tasarım Eğitimlerimizde büyük kampanya,eğitim bedelinin % 30 'u bizden..Hemen başvur..</p>
        </div>

    </div>
</div>