<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-6">
            <div class="wrapper">
                <address class="address" itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address">
                <h3>
                Click Academy ( Ankara Merkez )
                </h3>
                <span itemprop="streetAddress">
                Karanfil Sk. Zafir İş Hanı No: 4 Kat: 4
                </span>
                <br>
                <span itemprop="locality">
                Kızılay
                </span>
                <br>
                <span itemprop="region">
                ANKARA / TÜRKİYE
                </span>
                <br>
                <br>
                <span class="glyphicon glyphicon-earphone">
                </span>
                <span itemprop="telephone" style="vertical-align: bottom; margin-left:5px; margin-right: 20px;">
                +90 0 (312) 419 90 98
                </span>
                <br>
                <br>
                <span class="glyphicon glyphicon-envelope">
                </span>
                <span itemprop="email" style="vertical-align: bottom; margin-left:5px; margin-right: 20px;">
                info@adoruk.net
                </span>
                <!--<img class="img-responsive qrcode" src="LupusWebUserControls/Contact/Images/qrcode.png">-->
                </address>
            </div>
        </div>
        
        <div class="googleMaps col-md-6" draggable='true' google-map center='map.center' zoom='map.zoom'>
            <marker coords="map.marker.coords" options="map.marker.options">
            </marker>
        </div>
    </div>
</div>