<div class="container" ng-init="get()">
    <div class="row">
        <p class="text-center text-warning" ng-if="kaydediliyor">Yaptığınız değişiklikler otomatik olarak kaydediliyor lütfen bekleyiniz.</p>
    <p class="text-center text-success" ng-if="!kaydediliyor && kaydedildi">Kaydedildi.</p></div>
    <div class="row">
        <div class="col-sm-9" >
            <div lupus-assets-b model-data="academic">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <h1>{{academic.name}}</h1>
            <form role="form">
                <div class="form-group">
                    <label for="academic-baslik">Başlık</label>
                    <input type="text" ng-model="academic.name" class="form-control" name="academic-baslik" id="academic-baslik"/>
                </div>
                <div class="form-group">
                    <label for="academic-description">İçerik</label>
                    <textarea name="academic-description" id="academic-description" class="form-control" ng-model="academic.description"></textarea>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2>Tüm Eğitim</h2>

                            <ul>
                                <li ng-repeat="egitim in egitimler">
                                    <a class="btn btn-default" href="javascript:void(0)" ng-click="addEgitim(egitim)">{{egitim.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <hr/>
                        <div class="col-sm-8">
                            <h2>Eklenmiş Eğitim</h2>
                            <ul>
                                <li ng-repeat="eklenmisEgitim in academic.egitimler">{{eklenmisEgitim.name}} <a ng-click="removeEgitim($index)" href="javascript:void(0)">Kaldır</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0);"  class="btn btn-primary pull-right" ng-click="update()"><span class="glyphicon glyphicon-save"></span>Kaydet</a>
            </form>
        </div>
    </div>
</div>
</div>