<div class="container">
    <div class="row" style="position:relative">
        <div class="col-sm-8">
            <button class="pull-right btn btn-lg btn-primary" ng-click="yeni.egitim = null">
            <span class="glyphicon glyphicon-plus"></span>
            </button>
            <h4>Eğitimler</h4>
            <div class="list-group">
                <div href="#" class="list-group-item clearfix animation-fadeAndScale"  ng-class="{'list-group-item-info': yeni.egitim._id == egitim._id}"  ng-repeat="egitim in egitimler">
                    <div class="col-sm-6">
                        <p class="list-group-item-heading">{{egitim.name}}</p>
                        <p class="list-group-item-heading">/{{egitim.url}}</p>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-sm btn-warning pull-right" ui-sref="yonetim.egitim-sayfasi({egitimUrl:egitim.url})">Sayfayı Düzenle</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger pull-right" ng-click="crud.remove(egitim._id);">Sil</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-primary pull-right" ng-click="duzenle(egitim);">Düzenle</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="position: fixed;right: 30px;">

            <div ng-if="yeni.egitim._id">
                <h4>Düzenle</h4>
            </div>
            <div ng-if="!yeni.egitim._id">
                <h4>Yeni</h4>
            </div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="kategori-adi">Eğitim Adı</label>
                    <input type="text" name="kategori-adi" id="kategori-adi" class="form-control" ng-model="yeni.egitim.name"/>
                </div>
                <div class="form-group">
                    <label for="kategori-url">Eğitim URL</label>
                    <input type="text" name="kategori-url" id="kategori-url" class="form-control" ng-model="yeni.egitim.url"/>
                </div>
                <div class="form-group">
                    <label for="short-tag">Kısaltma</label>
                    <input type="text" name="short-tag" id="short-tag" class="form-control" ng-model="yeni.egitim.shortTag"/>
                </div>
                <div class="form-group">
                    <label for="egitim-kategori">Eğitim Kategorisi</label>
                <select class="form-control" name="egitim-kategori" id="egitim-kategori" ng-model="yeni.egitim._categoryId" ng-options="kategori._id as kategori.name for kategori in egitimCategories">{{kategori}}</select>
            </div>
            <div class="form-group">
                <label >Anahtar Kelimeler</label>
                <input type-text class="form-control" ng-model="yeni.egitim.keywords[$index]" ng-repeat="keyword in yeni.egitim.keywords track by $index" placeholder="Anahtar Kelime"/>
                <button class="btn btn-sm btn-default" ng-click="yeni.egitim.keywords.push(null)">
                <span class="glyphicon glyphicon-plus" ng-click=""></span> Anahtar Kelime Ekle</button>
            </div>
        </form>
        <a href="javascript:void(0);" ng-if="!yeni.egitim._id" class="btn btn-primary pull-right" ng-click="crud.save(yeni.egitim)"><span class="glyphicon glyphicon-plus"></span>Yeni</a>
        <a href="javascript:void(0);" ng-if="yeni.egitim._id" class="btn btn-primary pull-right" ng-click="crud.save(yeni.egitim)"><span class="glyphicon glyphicon-save"></span>Kaydet</a>
    </div>
</div>
</div>