<!-- <div ng-if="user.authenticated"> -->
    <div class="container">
        <div class="row">
            <h3>Yönetim</h3>
            <a class="btn btn-default" ui-sref="yonetim.egitim-kategorileri">Eğitim Kategorileri</a>
            <a class="btn btn-default" ui-sref="yonetim.egitimler">Eğitimler</a>
            <a class="btn btn-default" ui-sref="yonetim.akademik">Akademik Eğitimler</a>
            <!--         <a class="btn btn-default" ui-sref="yonetim.sektorel">Sektörel Eğitimler</a>
            <a class="btn btn-default" ui-sref="yonetim.blogs">Bloglar</a> -->
            <a class="btn btn-default" ui-sref="yonetim.slider">Slider</a>
            <a class="btn btn-default"  ui-sref="yonetim.user">Kullanıcılar</a>
        </div>
    </div>
    <hr/>
    <div ui-view=""></div>
<!-- </div>
<div ng-if="!user.authenticated">
    <div class="container">
        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="user-name">Kullanıcı Adı</label>
                    <input type="text" name="user-name" id="user-name" class="form-control" ng-model="user.name"/>
                </div>
                <div class="form-group">
                    <label for="password">Kullanıcı Adı</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="user.name"/>
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <button class="btn btn-success">Tamam</button>
                </div>
            </form>
        </div>
    </div>
</div> -->