<div class="container">
    <div class="row">
        <h3>Yönetim</h3>
        <a class="btn btn-default" ui-sref="yonetim.egitim-kategorileri">Eğitim Kategorileri</a>
        <a class="btn btn-default" ui-sref="yonetim.egitimler">Eğitimler</a>
        <a class="btn btn-default" ui-sref="yonetim.mesleki">Mesleki Eğitimler</a>
        <a class="btn btn-default" ui-sref="yonetim.blogs">Sektörel Eğitimler</a>
        <a class="btn btn-default" ui-sref="yonetim.blogs">Bloglar</a>
        <div class="row">
        </div>
    </div>
</div>
<hr/>
<div ui-view=""></div>