lupus-disko,
.lupus-disko {
  position: relative;
  width: 100%;
  overflow: hidden;
}
lupus-disko .btn-lg,
.lupus-disko .btn-lg {
  border-radius: 0;
}
lupus-disko-wrapper,
.lupus-disko-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
lupus-disko-wrapper img,
.lupus-disko-wrapper img {
  top: 0;
  left: 0;
}
lupus-disko-wrapper .lupus-disko-caption,
.lupus-disko-wrapper .lupus-disko-caption {
  position: absolute;
  bottom: 50px;
  right: 20px;
  padding: 20px;
}
.lupus-disko-outer-wrapper {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.lupus-disko-outer-wrapper .lupus-disko-wrapper.lupus-img img {
  display: block;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  opacity: 0.01;
  min-height: 1px;
}
.lupus-disko-outer-wrapper .lupus-disko-wrapper.lupus-img.active img {
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  opacity: 1;
}
.capanime.ng-enter {
  -webkit-animation: 1s fadeInRight;
  animation: 1s fadeInRight;
}
.lupus-asset-img-review{
  border: 4px dashed #bbb; margin-bottom:10px;
}