<div class="evliya-sarmalayici" style="">
    <div class="lupus-evliya-navbar" style="">
        <ul>
            <li class="evliya-menu-button" >
                <a ng-click="menuAcik = !menuAcik" ng-class="{'active':menuAcik}"href="javascript:void(0);">Menü</a>
            </li>
            <div ng-show="menuAcik" class="lupus-evliya-nav animate-show" >
                <li>
                    <a ui-sref="hakkimizda">Biz</a>
                </li>
                <li>
                    <a ui-sref="egitimler">Eğitimlerimiz</a>
                </li>
                <li>
                    <a ui-sref="egitimler.kategori.liste">Uzmanlık Eğitimleri</a>
                </li>
                <li>
                    <a ui-sref="egitimler.akademik">Akademik Eğitimler</a>
                </li>
                <li>
                    <a ui-sref="sektorel-egitimler">Sektörel Eğitimler</a>
                </li>
                <!--   <li>
                                                                                <a ui-sref="egitim-sistemimiz">Eğitim Sistemimiz</span></a>
                                                                </li>
                                                                <li>
                                                                                    <a ui-sref="hakkimizda">Click Academy</a>
                </li> -->
                <!-- <li>
                                                                                    <a ui-sref="bilisim-kulubu">Click Club</a>
                </li> -->
                <li>
                    <a ui-sref="egitimler.takvim">Eğitim Takvimi</a>
                </li>
                <li>
                    <a ui-sref="click-public">Click Public</a>
                </li>
                <li>
                    <a ui-sref="duyurular">Duyurular</a>
                </li>
                <li>
                    <a ui-sref="ik">İk</a>
                </li>
                <li>
                    <a ui-sref="iletisim">İletişim</a>
                </li></div>
            </ul>
            <!-- /.nav-collapse -->
            <a class="pull-right" ui-sref="home"  style="margin-top: -10px;" ><img style="height: 70px;" src="img/click-academy-logo-2.png" ></a>
        </div>
    </div>