<div class="evliya-sarmalayici" style="">
    <div class="lupus-evliya-navbar" style="height:52px; margin:10px 0 ;background-color: #025172;border:1px solid #25627a;">
        <ul >
            <li>
                <a ui-sref="home" class="btn-lg"><span class="glyphicon glyphicon-home"></span></a>
            </li>
            <li>
                <a ui-sref="egitimler">Eğitimler</a>
            </li>
            <li>
                <a ui-sref="egitimler.kategori.liste">Uzmanlık Eğitimleri</a>
            </li>
            <li>
                <a ui-sref="akademik-egitimler">Akademik Eğitimler</a>
            </li>
            <!-- <li>
                                <a ui-sref="sektorel-egitimler">Sektörel Eğitimler</a>
                        </li>
                        <li>
                                <a ui-sref="egitim-sistemimiz">Eğitim Sistemimiz</span></a>
                        </li>
                        <li>
                                <a ui-sref="hakkimizda">Click Academy</a>
            </li> -->
            <!-- <li>
                                <a ui-sref="bilisim-kulubu">Click Club</a>
            </li> -->
            <li>
                <a ui-sref="iletisim">İletişim</a>
            </li>
        </ul>
        <!-- /.nav-collapse -->
    <a class="pull-right" href="/" style="margin-top: -10px;" ><img style="height: 70px;" src="img/click-academy-logo-2.png" ></a>
    </div>
</div>