<div class="navbar navbar-inverse navbar-fixed-bottom" ng-style="style"role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="container-sm-12">
                <div>
                    <ul class="nav navbar-nav main-navigation">
                        <li>
                            <a ui-sref="home" class="btn-lg"><span class="glyphicon glyphicon-home"></span></a>
                        </li>
                        <li>
                            <a ui-sref="egitimler">Eğitimler</a>
                        </li>
                        <li>
                            <a ui-sref="mesleki-uzmanlik-egitimi">Mesleki Uzmanlık Eğitimleri</a>
                        </li>
                        <li>
                            <a ui-sref="sektorel-egitimler">Sektörel Eğitimler</a>
                        </li>
                        <li>
                            <a ui-sref="egitim-sistemimiz">Eğitim Sistemimiz</span></a>
                        </li>
                        <li>
                            <a ui-sref="bilisim-kulubu">Click Club</a>
                        </li>
                        <li>
                            <a ui-sref="iletisim">İletişim</a>
                        </li>
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
        </div>
    </div>
</div>